/* 1. 我删除了原本这里大段的 @font-face 代码，因为 Palatino 是系统字体，不需要下载 */

a {
  color: #1772d0;
  text-decoration: none;
}

a:focus,
a:hover {
  color: #f09228;
  text-decoration: none;
}

/* 2. 下面是将 'Lato' 替换为 Palatino 字体的核心部分 */

body,
td,
th,
tr,
p,
a {
  /* 修改了这里 */
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
  font-size: 14px;
}

strong {
  /* 修改了这里 */
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
  font-size: 14px;
}

h2 {
  margin: 0;
  font-weight: normal;
  /* 修改了这里 */
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
  font-size: 22px;
}

.papertitle {
  /* 修改了这里 */
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
  font-size: 14px;
  font-weight: 700;
}

.name {
  padding-top: 20px;
  margin: 0;
  /* 修改了这里 - 这就是为什么之前你在 HTML 里改没用的原因，这里定义了具体的字体 */
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
  font-size: 32px;
}

.one {
  width: 160px;
  height: 160px;
  position: relative;
}

.two {
  width: 160px;
  height: 160px;
  position: absolute;
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}

.fade {
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}

span.highlight {
  background-color: #ffffd0;
}